<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Hangfire.Queues" value="production1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Hangfire.SendEmails.Queue" value="production1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Hangfire.RebuildIndexes.Id" value="RebuildIndexes.PRD1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Hangfire.RebuildIndexes.Queue" value="production1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>